PCG_UPSTREAMS=
PCG_DEFAULT_UPSTREAM=
PCG_ADMIN_TOKEN=
PCG_DB_URL=
PCG_VECTOR_BACKEND=
PCG_VECTOR_URL=
PCG_VECTOR_API_KEY=
PCG_EMBED_MODEL=
PCG_SIM_THRESHOLD=
PCG_CACHE_TTL_S=
PCG_PROVIDER_CACHE_TTL_S=300
PCG_LOG_MODE=hash
PCG_BODY_RETENTION_H=
